@import "bootstrap/dist/css/bootstrap-grid.min.css";

.room-col {
    padding: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.room-button {
    margin: 8px;

    width: 100%;
    text-align: left;
}
