<div class="mat-app-background">
  <section class="mat-typography app-content">

    <mat-toolbar color="primary">
      <div class="container">
        <div class="row">
          <div class="col-12">
            Happy sun fest
          </div>
        </div>
      </div>
    </mat-toolbar>

    <div class="container app-container">
      <!-- <div class="row">
        <div class="col-12">
          <p>You are currently in {{currentLocation}}</p>
        </div>

        <div class="col-auto">
          <button mat-raised-button color="warn" (click)="onClickJoinHangout1()">
            <mat-icon>duo</mat-icon>
            Join Ruben
          </button>
        </div>
        <div class="col-auto">
          <button mat-raised-button color="warn" (click)="onClickJoinHangout2()">
            <mat-icon>duo</mat-icon>
            Join Ilse
          </button>
        </div>
      </div> -->
      <div class="row">
        <div class="col-3 room-col" *ngFor="let room of rooms">
          <button mat-raised-button color="warn" (click)="onClickJoinHangout(room)">
            <mat-icon>duo</mat-icon>
            {{room.owner}}s Room
          </button>
        </div>
      </div>

    </div>


  </section>
</div>