<div class="mat-app-background">
  <section class="mat-typography app-content">

    <mat-toolbar color="primary">
      <div class="container">
        <div class="row">
          <div class="col-12">
            Happy sun fest
          </div>
        </div>
      </div>
    </mat-toolbar>


    <div class="container app-container">
      <div class="row">
        <div class="col-3">
          <app-buttons></app-buttons>
        </div>
        <div class="col-9">
          <app-floorplan></app-floorplan>
        </div>


      </div>

    </div>


  </section>
</div>